@each $var in bus, subway, phone {
    .ico_#{$var} {
        background: url(images/#{$var}.png) no-repeat;
    }
}

$heading : (
    h1:30px,
    h2:20px,
    h3:15px
);

@each $ele, $fs in $heading {
    #{$ele} {
        font-size: $fs;
    }
}